.todo-list {
	background: $white-color;
	width: 80%;
	margin: 20px auto;
	max-width: 600px;
    box-shadow: 5px 5px 5px $charcoal-color;
	
	.new-todo {
		padding: 10px 10px 0 10px;
	}
	
	.new-todo-field-wrapper {
		width: auto;
		height: 31px;
		background: $white-color;
		overflow: hidden;
		padding: 0 10px;
		margin: 0;
	}
	
	.new-todo-field {
		background: $white-color;
		border: none;
		border-bottom: 1px solid $charcoal-color;
		padding: 0;
		padding-left: 10px;
		outline: 0;
		height: 30px;
		font-size: 1em;
		width: 95%;
		float: left;
	}
	
	.new-todo-button {
		-webkit-appearance: none;
		background: $picton-blue-color;
		border: none;
		width: 100px;
		height: 30px;
		float:right;
		outline: 0;
		color: $white-color;
		font-weight: bold;
	}
	
	.todo-list-items {
		list-style: none;
		padding: 20px;
		margin-top: 0;
	}
}