.todo-item {
	color: $charcoal-color;
	padding: 0;
	
	.delete-button {
		visibility: hidden;
	}
	
	&.done {
		color: #999;
		text-decoration: line-through;
		
		.delete-button {
			visibility: visible;	
		}
	}
}